JWT_TOKEN_SECRET=your_jwt_secret_key
AUTH_POSTGRES_USER=your_postgres_username
AUTH_POSTGRES_PASSWORD=your_postgres_password
DECK_POSTGRES_USER=your_deck_postgres_username
DECK_POSTGRES_PASSWORD=your_deck_postgres_password